*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Shantell Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.red{
  transition: 0.5s all ease;
  color: #DC143C;
  background-color: #DC143C;
}

.blue{
  transition: 0.5s all ease;
  color: #001F3F;
  background-color: #001F3F;
}

.redH{
  transition: 0.5s all ease;
  color: #DC143C;
}

.blueH{
  transition: 0.5s all ease;
  color: #001F3F;
}

.redB{
  transition: 0.5s all ease;
  color: #001F3F;
  background-color: #DC143C;
}

.blueB{
  transition: 0.5s all ease;
  background-color: #001F3F;
  color: #DC143C;
}